.showDesc {
  overflow: scroll;
  overflow-x: hidden;
  height: 200px;
  margin-bottom: 10px;
}

.searchCardContainer {
  min-height: 200px;
  max-height: 400px;
  text-overflow: ellipsis;
}

.showCardContainer {
  max-height:300px;
  min-height: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.searchButton {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: 15px;
}

.streamingIconContainer {
  margin-left: 10px;
  display: inline-block;
}

.streamingIconsContainer {
  display: inline-block;
  margin-left: 20px;
}

.streamingIconImage {
  max-height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 1px 0 black inset, 0 0 1px 0 black;
}

.watchedButtons {
  margin-top: 6px;
}

.watchedText {
  font-size: 22px;
  vertical-align: top;
  margin-top: 10px;
}

.episodesWatchedContainer {
  display: inline;
  margin-right: 5px;
}

.apiButtons {
  margin-bottom: 10px;
}