.showDesc {
  overflow: scroll;
  overflow-x: hidden;
  height: 200px;
  margin-bottom: 10px;
}

.searchCardContainer {
  min-height: 200px;
  max-height: 400px;
  text-overflow: ellipsis;
}

.showCardContainer {
  max-height:400px;
  min-height: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.searchButton {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-top: 15px;
}